*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}
body{
    background-color: rgba(37, 29, 26, 1);
}
.container{
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

nav{
    left: 0;
    top: 0;
    width: 100%;
    }
.nav__content{
    padding: 36px;
    display: flex;
    justify-content: space-between;
}
.first{
    display: flex;
    align-items: center;
    gap: 18px;
}
.first i{
    background-color: rgba(255, 110, 64, 1);
}
.first h1{
    color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;

}
.ahref{
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    gap: 40px;
}
.ahref li a{
    text-decoration: none;
    color: rgba(239, 231, 226, 1);
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
}
.left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.left p{
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
color: rgba(239, 231, 226, 1);
}
.dumaloq{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 110, 64, 1);
    position: relative;
}
.left i{
    position: absolute;
    margin-top: 9px;
    margin-left: 11px;

}
.right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.right .bir{
    color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;


}
.right p:last-of-type{
    color:rgba(239, 231, 226, 1) ;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;

}
.right i{
    margin-top: 9px;
    margin-left: 11px;
}

.container_2{
    min-height: 100vh;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-image: url("./img/bg\ \(1\).png");
    background-repeat: no-repeat;
}
.bigh{
    width: 707px;
height: 231px;
padding-left: 50px;
padding-top: 40px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 70px;
line-height: 110%;
/* or 77px */


/* neutral/1 */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
color: #FFFFFF;
}
.bigp{
    width: 228px;
    height: 54px;
    padding-left: 50px;
    padding-top: 72px;
    font-family: 'Fira Sans';
    font-style: normal;
    line-height: 150%;
    /* or 27px */
    
    
    color: #EFE7E2;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}